#root {
  background-color: red;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-sec {
  display: flex;
  gap: 1rem;
  border: 4px solid black;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 30%;
  border: 4px solid black;
}

.inputs-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  text-align: left;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.input-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 1.25rem;
}

.input-block input {
  min-height: 1.25rem;
}

.outputs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  width: 70%;
  text-align: left;
}
